.doctorCard {
    /* background: url(require("../")); */
    display: flex;
    justify-content: center;
    margin-block: 10px;
}

/* .doctorCard:hover {
    filter: blur(2px);
    opacity: 5;
    transition: all 0.5s ease-in-out;
} */

.doctorText {
    display: flex;
    justify-content: center;
    color: black;
}

.main-card {
    margin-bottom: 20px;
}

.main-card:hover {
    transition: all 0.5s ease-in-out;
    transform: scale(1.03);
}

.doctorText:hover {
    transition: all 0.4s ease-in-out;
    transform: scale(1.03);
}

.doctorCard:hover {
    transition: all 0.8s ease-in-out;
    transform: scale(1.05);   
    /* transform: scaleX(1.5); */
    /* transform: skew(2deg); */
}