.record-display {
    width: 98vw;
    height: 120vh;
    top: 0;
    background-image: url('../../Assets/bg.jpg');
    background-size: cover;
    background-position: center center;
  }

.homebg {
    padding : 40px;
    width: 70vw;
    height: 70vh;
    background-image: url('../../Assets/family.png');
    background-size: cover;
    background-position: center center;
}

.aboutbg {
  width: 70vw;
  height: 70vh;
  background-image: url('../../Assets/aboutDoctor.webp');
  background-size: cover;
  background-position: center center;
}

.doctors {
  width: 70vw;
  height: 60vh;
  background-image: url('../../Assets/doctors.avif');
  background-size: cover;
  background-position: center center;
  padding: 30px;
}

.gradientText {
    background: -webkit-linear-gradient(#652af0, #76cdef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.department {
  background: linear-gradient(109.6deg, rgb(43, 1, 91) 13.4%,rgb(122, 2, 54) 100.2%);
  /* background: -webkit-linear-gradient(#652af0, #76cdef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}