.nav-link {
    font-size: 1rem;
    text-decoration: none;
    color: #A9A9A9;
    padding-inline: 2.5vw;
    padding-block: 6px;
    border-radius: 24px;
}

.navbar {
    z-index: 1000;
    padding: 5px;
    /* background: #6a11cb;
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9));
    background: linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9)); */
}

.nav-link:hover {
    color: whitesmoke;
    border-radius: 25px;
    border: 1.2px solid #8fe5f2;
}

.footer {
    background: linear-gradient(45deg, #4273b8, #1259c4);
background: -webkit-radial-gradient(45deg, #4273b8, #1259c4);
background: -moz-radial-gradient(45deg, #4273b8, #1259c4);
background: -o-radial-gradient(45deg, #4273b8, #1259c4);
}