.nav-link {
    font-size: 1rem;
    text-decoration: none;
    color: #A9A9A9;
    /* padding-inline: 2vw; */
    padding-block: 6px;
    border-radius: 24px;
}
.navbarnohome {
    z-index: 1000;
    padding: 5px;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar {
    z-index: 1000;
    padding: 5px;
}

.nav-link:hover {
    color: whitesmoke;
    border-radius: 25px;
    border: 1.2px solid #8fe5f2;
    padding-inline: 15px;
}

.footer {
    background: linear-gradient(45deg, #4273b8, #1259c4);
background: -webkit-radial-gradient(45deg, #4273b8, #1259c4);
background: -moz-radial-gradient(45deg, #4273b8, #1259c4);
background: -o-radial-gradient(45deg, #4273b8, #1259c4);
}


.credits {
    cursor: pointer;
    text-decoration: none;
    color: white;
    transition: all 0.5s ease;
  }
  
  .credits:hover {
    color: #00ffdd;
  }
  